---
import BaseHead from "../../components/BaseHead.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import BlogCard from "../../components/BlogCard.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"

import { getPosts } from "../../content.config"

const posts = (await getPosts()).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)
---

<style>
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(30ch, 50%, 50ch), 1fr)
    );
    gap: 1rem;
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="card-wrapper">
          {posts.map((post) => <BlogCard post={post} />)}
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
