---
const today = new Date()
---

<style>
  footer {
    margin-top: 3rem;
  }
  .social-links {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
  }
</style>

<footer>
  <span
    >&copy; 2022 - {today.getFullYear()} Vinayaka K V. All rights reserved.</span
  >
  <div class="social-links">
    <a href="https://linkedin.com/in/vinayakakv" target="_blank">
      <span>LinkedIn</span>
    </a>
    <a href="https://github.com/vinayakakv" target="_blank">
      <span>Github</span>
    </a>
    <a href="mailto:me.vinayakakv@gmail.com" target="_blank">
      <span>Mail</span>
    </a>
    <a
      href="https://github.com/vinayakakv/resume/releases/latest/download/resume.pdf"
      target="_blank"
    >
      <span>Résumé</span>
    </a>
  </div>
</footer>
